---
BasedOnStyle: LLVM
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 180
BreakBeforeBraces: Custom
BraceWrapping:
  AfterStruct: false
  SplitEmptyRecord: false
AlignConsecutiveAssignments: true
AllowShortBlocksOnASingleLine: false
SpacesInContainerLiterals: true
Cpp11BracedListStyle: false
---
